*.pyc
.DS_Store

/temp/
/.project
/.pydevproject

# checkpoint
checkpoints/
h0/
h1/
h2/
h3/

graphs/grafiIgralci/
graphs/grafiMistakes/
graphs/grafiSamo/

tests/grafiIter/
tests/slike_grafov/

logs4/

# For PyCharm users
.idea/


